.main-offer {
    margin-bottom: 50px;
    display: flex;
}

.main-offer-menu {
    top: -1px;
    border-radius: 0 0 3px 3px;
    border: 1px solid #efefef;
    position: relative;
    max-width: 281px;
    flex: 0 0 281px;
}

.menu-cat {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 1.3;
    font-size: 15px;
    li {
        position: relative;
        list-style: none;
        cursor: pointer;
        transition: all 300ms ease;
        &:not(:last-child) a::after {
            position: absolute;
            left: 24px;
            top: 18px;
            content: "";
            width: 1px;
            height: 100%;
            background: #ddd;
            transition: all 0.3s ease;
        }
    }
    a {
        padding: 7px 20px 7px 45px;
        position: relative;
        display: inline-block;
        &::before {
            position: absolute;
            left: 20px;
            top: 13px;
            content: "";
            padding: 3.5px;
            border: 1px solid #ddd;
            z-index: 1;
            background: #fff;
            border-radius: 99px;
        }
        &:hover::before {
            border-color: $azureColor;
        }
    }
}

.main-offer-right {
    max-width: 859px;
    height: 598px;
    padding: 20px 0 20px 20px;
    flex: 1 1 auto;
}
